
.main-wrapper .main .wrapper .box .box-listing .box-listing__item .box-listing__text p {
    color: #000000;
}
li.box-listing__item.category_item > .box-listing__text>p {
  color: #6183e4 !important;
    font-size: 19px;
    text-align: center;
    line-height: 71px;
    background: url(https://i.ibb.co/1fkngsw/531b6fdd8c16.png) center bottom no-repeat !important;
}
.filter__link:not(.active):hover {
    background: #6183e4 !important;
    color: #ffffff;
}

.btn:hover, a.btn:hover {
opacity: 0.6 !important;
    color: #fff !important;
    /* border-color: #f6f6f6; */
    border: 0px !Important;
}

.main-menu .main-menu__item a:hover {
   color: #6183e4 !important;
    text-decoration: underline;
    
}
.home-slid4er p a:hover {
    opacity: 0.6 !important;
}

.home-slider h1 span::after {
    content: ""; /* Додаємо порожній контент для псевдоелемента */
    display: block; /* Робимо його блочним елементом */
    width: 100%; /* Ширина псевдоелемента */
    height: 100%; /* Висота псевдоелемента */
    background-image: url('https://i.ibb.co/nk32GpL/b20419812373.png'); /* Встановлюємо фонове зображення */
    background-size: cover; /* Зображення покриває весь елемент */
    background-repeat: no-repeat; /* Забороняємо повторення зображення */
    background-position: center; /* Розміщуємо зображення по центру */
    position: absolute; /* Абсолютне позиціонування */
    top: 0; /* Вирівнюємо по верхньому краю батьківського елемента */
    left: 0; /* Вирівнюємо по лівому краю батьківського елемента */
    z-index: -1; /* Відправляємо псевдоелемент під контент батьківського елемента */
}

/* Забезпечуємо, що батьківський елемент має відносне позиціонування */
.home-slider h1 span {
    position: relative;
}
