
.main-wrapper .main .wrapper .box .box-listing .box-listing__item .box-listing__text p {
    color: #000000;
}
li.box-listing__item.category_item > .box-listing__text>p {
  color: #fff !important;
    font-size: 19px;
    text-align: center;
    line-height: 40px;
    background-color: #6183e4 !important; 
    border-radius: 100px;
}
.box-listing__text {
    
    margin-right: 0px !important;
    
}
.filter__link:not(.active):hover {
    background: #6183e4 !important;
    color: #ffffff;
}

.btn:hover, a.btn:hover {
opacity: 0.6 !important;
    color: #fff !important;
    /* border-color: #f6f6f6; */
    border: 0px !Important;
}

.main-menu .main-menu__item a:hover {
   color: #6183e4 !important;
    text-decoration: underline;
    
}
.home-slid4er p a:hover {
    opacity: 0.6 !important;
}

.home-slid4er h1 span::after {
    content: "";
    width: 149px;
    height: 95px;
    background-image: url(https://i.ibb.co/nk32GpL/b20419812373.png);
    position: absolute;
    margin-left: 50px;
}
.box-listing__info{
    margin-left: 30px;
}
